<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <script src="https://kit.fontawesome.com/900beb8052.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
</head>
<body>


    <nav>
        <ul class="container menu">
            <li class="logo"><a href="/">Christina Storey</a></li>
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/about">About</a></li>
            <li class="item"><a href="/contact">Contact</a></li>
            <li class="item"><a href="/services">Services</a></li>
            <li class="item"><a href="/experience">Experience</a></li>
            <li class="item"><a href="https://twitter.com/Cstoreyy"><i class="fab fa-twitter"></i></a></li>
            <li class="item"><a href="https://linkedin.com/in/christina-storey-a0a88a19b"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="item"><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>