<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Storey Social</title>
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <script src="/javascript/navbar.js"></script>
    <script src="https://kit.fontawesome.com/900beb8052.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <div class="d-flex align-items-center">
                <a class="navbar-brand" href="/"><img id="storeyLogo" src="/images/Navbar/ssLogo.jpg" alt=""></a>
                <a class="navbar-brand" href="/">
                    <div>
                            <h4 id="social1">Social</h4>
                            <h4 id="social2">Media</h4>
                            <h4 id="social3">Consultant</h4>
                    </div>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <strong><a class="nav-link home" href="/">Home</a></strong>
                        </li>
                    <li class="nav-item">
                    <a class="nav-link heading" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link heading" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link heading" href="/experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link heading" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-link" href="https://twitter.com/Cstoreyy" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-link" href="https://instagram.com/christinastorey/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-link" href="https://linkedin.com/in/christina-storey-a0a88a19b" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
