<%- include ("./partials/header") %>

<div class="top-gap">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="mt-5" id="headshot" src="/images/Headshot.jpg" alt="">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h2>The Storey Social</h2>
                <p>The Storey Social is a social media consultancy specialising in the publishing industry that can help you, and your books, get noticed on Social media. I grew up online. I created a fashion and lifestyle blog when I was just fourteen and have been active on all forms of social media ever since. The Storey Social wants to help you and your books stand out on social media.</p>
                <p>The Storey Social can help with Instagram, Facebook, Twitter, LinkedIn.</p>
                <strong><p>Head on over to the Services page to see more of what The Storey Social offer!</p></strong>
                <h2 class="mt-5">Christina Storey</h2>
                <p>After graduating from Queen Mary University of London with a 2.1 in English Literature in 2018 I immediately became a part time Bookseller at my local Waterstones. Within four months I was promoted to a full time Senior Bookseller. When at Waterstones I fully immersed myself into the Publishing world; I set up the bookshops Instagram and helped out with their Twitter.</p>
                <p>I spent 2019 working and travelling in Australia and came back to England in 2020 eager to get a job in the publishing industry. However, Covid-19 has delayed this, in response to hiring being frozen I took up many different social media projects to keep myself occupied, these have now turned into The Storey Social!</p>
                <strong><p>Head on over to the Experience page to learn more about all my different social media projects!</p></strong>
            </div>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %>