<%- include ("./partials/header") %>

<div class="top-gap">
    <h1 class="text-center mb-5">
        Experience
    </h1>
</div> 
<div class="container">
    <div class="row">
        <div class="col-md-4 highlight">
            <div class="d-flex justify-content-center align-items-center">
                <img id="pic-logo-1 mb-5" src="https://pbs.twimg.com/profile_images/1098928533693480962/tP_Gr_-w_400x400.png" alt="">
            </div>
            <h4 class="text-center">Orphans Publishing</h4>
            <p class="mt-5 text-center">Lorem ipsum dolor sit amet, essent delicata no pro. Et porro dicunt assueverit sed, no purto accumsan expetendis mel. No modus vituperatoribus duo. Nec movet indoctum ad, mel ut tritani percipitur contentiones. His viderer saperet ad, per ei quod suscipit, vim pertinacia persequeris ex.</p>
        </div>
        <div class="col-md-4 highlight">
            <div class="d-flex justify-content-center align-items-center">
                <img class="pic-logo mb-5" src="https://docs.toradex.com/102598-sbc.png" alt="">
            </div>
            <h4 class="text-center">The Storey Bookclub</h4>
            <p class="mt-5 text-center">Lorem ipsum dolor sit amet, essent delicata no pro. Et porro dicunt assueverit sed, no purto accumsan expetendis mel. No modus vituperatoribus duo. Nec movet indoctum ad, mel ut tritani percipitur contentiones. His viderer saperet ad, per ei quod suscipit, vim pertinacia persequeris ex.</p>
        </div>
        <div class="col-md-4 highlight">
            <div class="d-flex justify-content-center align-items-center">
                <img class="pic-logo mb-5" src="https://image.shutterstock.com/image-vector/initial-letter-ph-logotype-company-260nw-713433034.jpg" alt="">
            </div>
            <h4 class="text-center">Publishing Hopefuls</h4>
            <p class="mt-5 text-center">Lorem ipsum dolor sit amet, essent delicata no pro. Et porro dicunt assueverit sed, no purto accumsan expetendis mel. No modus vituperatoribus duo. Nec movet indoctum ad, mel ut tritani percipitur contentiones. His viderer saperet ad, per ei quod suscipit, vim pertinacia persequeris ex.</p>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %> 