<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storey Social - Experience</title>
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/experience.css">
    <script src="/javascript/navbar.js"></script>
    <script src="https://kit.fontawesome.com/900beb8052.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>


    <div id="page-container">
        <div id="content-wrap">
            <nav class="navbar navbar-light navbar-expand-lg navbar-custom fixed-top">
                <div class="container">
                    <div class="d-flex align-items-center">
                        <a class="navbar-brand" href="/"><img id="storeyLogo" src="/images/Navbar/ssLogo.jpg" alt=""></a>
                        <a class="navbar-brand" href="/">
                            <div>
                                    <h4 id="social1">Social</h4>
                                    <h4 id="social2">Media</h4>
                                    <h4 id="social3">Consultant</h4>
                            </div>
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <strong><a class="nav-link heading" href="/">Home</a></strong>
                                </li>
                            <li class="nav-item">
                            <a class="nav-link heading" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link heading" href="/services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link home" href="/experience">Experience</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link heading" href="/features">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link heading" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link social-link" href="https://twitter.com/Cstoreyy" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link social-link" href="https://instagram.com/christinastorey/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link social-link" href="https://linkedin.com/in/christina-storey-a0a88a19b" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        
        
        
        
            <div class="top-gap">
                <div class="container">
                    <h1 class="title">
                        Experience
                    </h1>
                    <hr>
                    <p>Hover over the boxes to take you to the respective social media accounts – don’t forget if you are requesting to join the Publishing Hopefuls Facebook group to answer the questions (and we do only accept people who are wanting to work in Publishing!)</p>
                </div>
            </div> 
        
            <div class="space">
                <div class="container">
                    <div class="row">
                            <div id="sbc" class="col-lg-4 spacing">
                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <a class="link" href="https://www.instagram.com/thestoreybookclub/" target="_blank">
                                        <div class="col-lg-10 highlight-const">
                                            <div class="d-flex justify-content-center">
                                                <img class="pic-logo-1" src="/images/Experience/sbcLogo2.png" alt="">
                                            </div>
                                            <h4 class="text-center">The Storey Book Club</h4>
                                            <p class="p-3 text-center">An Instagram book club in response to Covid-19 in order to connect readers.</p>
                                            <ul>
                                                <li>Gained 650 followers in its inaugural six weeks, have just under 1,000 engaged followers now.</li>
                                                <li>Consistently post three book reviews a week. Recommending YA fiction, Women’s and Literary fiction and Children’s fiction.</li>
                                                <li>Have a ‘book club pick’ that is discussed every two weeks.</li>
                                                <li>Created the logo and marketing material on Canva.</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <div class="col-lg-1"></div>
                                </div>
                            </div>
        
                            <div id="bottom-box" class="col-lg-4 spacing">
                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <a class="link" href="https://www.facebook.com/groups/publishinghopefuls" target="_blank">
                                        <div class="col-lg-10  highlight-const">
                                            <div class="d-flex justify-content-center">
                                                <img class="pic-logo" src="/images/Experience/phLogo.png" alt="">
                                            </div>
                                            <h4 class="text-center">Publishing Hopefuls</h4>
                                            <p class="p-4 text-center">I had the inspiration to create a safe and supportive space for those hoping to enter the publishing industry to connect and exchange ideas.</p>
                                            <ul>
                                                <li>I co-created it with a podcaster and now manage a team of 3 other moderators.</li>
                                                <li>It has over 650 members.</li>
                                                <li>Regularly keep in contact with members recommending books, discussing the publishing industry and sharing our ideas.</li>
                                                <li>Created the logo and marketing material on Canva.</li>
                                            </ul>
                                            <p class="text-center pt-4 px-4">Every week on Publishing Hopefuls we share job opportunities and virtual events - if you are a publisher who wants to advertise a job or event, please email me at thestoreysocial@hotmail.com</p>
                                        </div>
                                    </a>
                                    <div class="col-lg-1"></div>
                                </div>
                            </div>
                        </a>
        
                            <div class="col-lg-4 spacing">
                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <a class="link" href="https://www.instagram.com/orphanspublishing/" target="_blank">
                                        <div class="col-lg-10  highlight-const">
                                            <div class="d-flex justify-content-center">
                                                <img class="pic-logo" src="https://pbs.twimg.com/profile_images/1098928533693480962/tP_Gr_-w_400x400.png" alt="">
                                            </div>
                                            <h4 class="text-center">Orphans Publishing</h4>
                                            <p class="p-4 text-center">I have recently taken over Orphans Instagram to create exciting and relevant content that leads to direct sales of their books.</p>
                                            <ul>
                                                <li>Collaborated with different authors to create specific social media campaigns for their books.</li>
                                                <li>Collaborated with an author to create a weekly virtual event on Instagram Live. Successfully pitched to bloggers, Instagrammers, and gardeners. </li>
                                                <li>Increased their impressions from below one hundred to over five thousand in a month and have doubled the number of followers.</li>
                                            </ul>
                                        </div>
                                    </a>
                                    <div class="col-lg-1"></div>
                                </div>
                            </div>
                        </a>
        
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer" class="pl-5">
            <p></p>
            <p>Copyright 2020 The Storey Social. All Rights Reserved.</p>
            <p>Design by <a class="footer-anchor" href="#">Thomas Corkhill</a></p>
        </footer>
      </div>





<%- include ("./partials/footer") %> 