<%- include ("./partials/header") %>

<div class="top-gap">
    <h1 class="text-center mb-5">
        Experience
    </h1>
</div> 
<div class="container">
    <div class="row">
        <div class="col-md-4 highlight">
            <div class="d-flex justify-content-center align-items-center">
                <img id="pic-logo-1 mb-5" src="https://pbs.twimg.com/profile_images/1098928533693480962/tP_Gr_-w_400x400.png" alt="">
            </div>
            <h4 class="text-center">Orphans Publishing</h4>
            <p class="mt-5 text-center">I have recently taken over Orphans Instagram to create exciting and relevant content that leads to direct sales of their books. I collaborated with different authors to create social media marketing campaigns for their books. Overall, I increased their impressions from below one hundred to over five thousand in a month and have doubled the number of followers.</p>
        </div>
        <div class="col-md-4 highlight">
            <div class="d-flex justify-content-center align-items-center">
                <img class="pic-logo mb-5" src="https://docs.toradex.com/102598-sbc.png" alt="">
            </div>
            <h4 class="text-center">The Storey Bookclub</h4>
            <p class="mt-5 text-center">I run an Instagram Book Club, which gained 650 followers in its inaugural six weeks. I consistently post three book reviews a week and have a ‘book club pick’ that is discussed every two weeks.</p>
        </div>
        <div class="col-md-4 highlight">
            <div class="d-flex justify-content-center align-items-center">
                <img class="pic-logo mb-5" src="https://image.shutterstock.com/image-vector/initial-letter-ph-logotype-company-260nw-713433034.jpg" alt="">
            </div>
            <h4 class="text-center">Publishing Hopefuls</h4>
            <p class="mt-5 text-center">I had the inspiration to create a safe and supportive space for those hoping to enter the publishing industry to connect and exchange ideas. I co-created it with a podcaster and now manage a team of 4 moderators. It has 580 members.</p>
        </div>
    </div>
</div>

<%- include ("./partials/footer") %> 