<%- include ("./partials/header") %>

<div id="page-container">
    <div id="content-wrap">
        <!-- Cover picture and button -->
<div id="cover">
    <div class="main-heading text-center">
        <h3 class="black text-center">Are you an Author</h3>
        <h3 class="black text-center">or a Publisher stuck</h3>
        <h3 class="black text-center">with your social media?</h3>
    </div>
    <div class="text-center arrow">
        <a href="#scroll-target"><i class="fas fa-chevron-circle-down"></i></a>
    </div>
 </div>
 
<!-- Profile picture and Welcome -->
<div id="scroll-target" class="size pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img id="profile" src="https://scontent.flhr2-1.fna.fbcdn.net/v/t1.0-9/101056712_10163945009840227_9119019767674437632_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=T39kKBFsfNwAX_TmwpR&_nc_ht=scontent.flhr2-1.fna&oh=c8f33a364bec7aaad7a7737c69e5bfda&oe=5F20C0F6" alt="">
            </div>
            <div class="col-md-7">
                <h3 class="title">Welcome</h3>
                <p>Hi, I’m Christina, a social media consultant for anything to do with books.</p>
                <p>Stuck with your Instagram hashtags? Unsure where your Twitter is going? Or just need an extra pair of hands to help run everything?</p>
                <p>Having a good social media presence can help sell your book. Not sure where to start? That’s where I come in.

                    Social media tells a story, and I want to help you craft your story on social media.</p>
                <p>I can offer you a range of services to help your overall social media strategy or just help with one social media campaign. Whatever you need, I’m here to help. I grew up online, and I know how to get your voice (and book) heard amongst the chatter of social media.</p>
            </div>
        </div>
    </div>
</div>
 

<!-- About, services and experience boxes -->
<div id="links">
    <div class="container">
        <div class="row">
            <div class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/about" class="anchor">
                        <div class="col-md-10 pb-3 highlight">
                            <h4 class="p-3 text-center">About Me</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img class="icon-box" src="/images/Home/AboutMe.png" alt="">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
    
            </div>
            <div class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/services" class="anchor">
                        <div class="col-md-10 pb-3 highlight">
                            <h4 class="p-3 text-center">Services</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img src="/images/Home/Services.png" alt="" class="icon-box">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div id="bottom-box" class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/experience" class="anchor">
                        <div class="col-md-10 pb-3 highlight">
                            <h4 class="p-3 text-center">Experience</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img class="icon-box" src="/images/Home/Experience.png" alt="">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    <footer id="footer" class="pl-5">
        <p></p>
        <p>Copyright 2020 The Storey Social. All Rights Reserved.</p>
        <p>Design by <a class="footer-anchor" href="#">Thomas Corkhill</a></p>
    </footer>
  </div>
 


<%- include ("./partials/footer") %>

