<%- include ("./partials/header") %>


<div id="cover">
    <div class="row">
        <div class="col-md-6"></div>
        <div id="learn-more" class="col-md-6">
            <h2>Need help with social media?</h2>
            <button type="button" id="learn-more-btn" class="btn btn-dark btn-lg">Click Me</button>
        </div>
    </div>


</div>
<div class="container gap">
    <div class="row">
        <div class="col-md-4">
            <img id="profile" src="https://scontent.flhr2-1.fna.fbcdn.net/v/t1.0-9/101056712_10163945009840227_9119019767674437632_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=T39kKBFsfNwAX_TmwpR&_nc_ht=scontent.flhr2-1.fna&oh=c8f33a364bec7aaad7a7737c69e5bfda&oe=5F20C0F6" alt="">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h1>Welcome</h1>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h1>Contact</h1>
        </div>
    </div>

</div>


<%- include ("./partials/footer") %>

