<%- include ("./partials/header") %>


<!-- Cover picture and button -->
<div id="cover">
    <div class="row">
        <div class="col-md-6"></div>
        <div id="learn-more" class="col-md-6">
            <h2 id="brand">Start growing your brand today</h2>
            <p><a href="/contact" class="btn btn-colour-1">Contact</a></p>
        </div>
    </div>
    <div class="space"><p>hello</p></div>
    <div class="d-flex justify-content-center">
        <a href="#scroll-target"><i class="fas fa-sort-down"></i></a>
    </div>

 </div>

<!-- Profile picture and Welcome -->
<div id="scroll-target" class="size pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img id="profile" src="https://scontent.flhr2-1.fna.fbcdn.net/v/t1.0-9/101056712_10163945009840227_9119019767674437632_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=T39kKBFsfNwAX_TmwpR&_nc_ht=scontent.flhr2-1.fna&oh=c8f33a364bec7aaad7a7737c69e5bfda&oe=5F20C0F6" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="mt-5 ml-3">Welcome</h3>
                <ul>
                    <li>I'm amazing</li>
                    <li>You should probably hire me</li>
                    <li>I can totally social your media to the max</li>
                    <li>I'm also beautiful, I mean, look at my photo! Stunning!</li>
                </ul>
                <p class="my-2 ml-3">If that's not enough, have a browse of my website to see what I can do for you.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
 

<!-- About, services and experience boxes -->
<div class="container py-5">
    <div class="row">
        <div class="col-md-4 highlight">
            <h4 class="p-3 text-center">About</h4>
            <p class="px-3 pb-3 text-center">Lorem ipsum dolor sit amet, essent delicata no pro. Et porro dicunt assueverit sed, no purto accumsan expetendis mel. No modus vituperatoribus duo. Nec movet indoctum ad, mel ut tritani percipitur contentiones. His viderer saperet ad, per ei quod suscipit, vim pertinacia persequeris ex.</p>
        </div>
        <div class="col-md-4 highlight">
            <h4 class="p-3 text-center">Services</h4>
            <p class="px-3 pb-3 text-center">Lorem ipsum dolor sit amet, essent delicata no pro. Et porro dicunt assueverit sed, no purto accumsan expetendis mel. No modus vituperatoribus duo. Nec movet indoctum ad, mel ut tritani percipitur contentiones. His viderer saperet ad, per ei quod suscipit, vim pertinacia persequeris ex.</p>
        </div>
        <div class="col-md-4 highlight">
            <h4 class="p-3 text-center">Experience</h4>
            <p class="px-3 pb-3 text-center">Lorem ipsum dolor sit amet, essent delicata no pro. Et porro dicunt assueverit sed, no purto accumsan expetendis mel. No modus vituperatoribus duo. Nec movet indoctum ad, mel ut tritani percipitur contentiones. His viderer saperet ad, per ei quod suscipit, vim pertinacia persequeris ex.</p>
        </div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="py-5 d-flex align-items-center">
    <div class="container">
        <h2 class="">Contact Me!</h2>
        <p id="btn-contact"><a href="/contact" class="btn btn-colour-1">Contact</a></p>
    </div>
</div>

<!-- footer -->
<div class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-1">
                <img id="storeyLogo" src="https://i.ibb.co/r5gLNQT/The-Storey-Social-Logo.jpg" alt="">
            </div>
            <div class="dol-md-5"></div>
        </div>
    </div>
</div>


<%- include ("./partials/footer") %>

