<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Storey Social</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <script src="/javascript/navbar.js"></script>
    <script src="https://kit.fontawesome.com/900beb8052.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light navbar-expand-lg navbar-custom fixed-top">
        <div class="container">
            <div class="d-flex align-items-center">
                <a class="navbar-brand" href="/"><img id="storeyLogo" src="/images/Navbar/ssLogo.jpg" alt=""></a>
                <a class="navbar-brand" href="/">
                    <div>
                            <h4 id="social1">Social</h4>
                            <h4 id="social2">Media</h4>
                            <h4 id="social3">Consultant</h4>
                    </div>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <strong><a class="nav-link home" href="/">Home</a></strong>
                        </li>
                    <li class="nav-item">
                    <a class="nav-link heading" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link heading" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link heading" href="/experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link heading" href="/features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link heading" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-link" href="https://twitter.com/Cstoreyy" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-link" href="https://instagram.com/christinastorey/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link social-link" href="https://linkedin.com/in/christina-storey-a0a88a19b" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div id="page-container">
    <div id="content-wrap">
        <!-- Cover picture and button -->
<div id="cover">
    <div class="main-heading text-center">
        <h3 class="black text-center">Are you an Author</h3>
        <h3 class="black text-center">or a Publisher stuck</h3>
        <h3 class="black text-center">with your social media?</h3>
    </div>
    <div class="text-center arrow">
        <a href="#scroll-target"><i class="fas fa-chevron-circle-down"></i></a>
    </div>
 </div>
 
<!-- Profile picture and Welcome -->
<div id="scroll-target" class="size pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img id="profile" src="/images/Home/profilePic.jpg" alt="">
            </div>
            <div class="col-md-7">
                <h3 class="title">Welcome</h3>
                <p>Hi, I’m Christina, a social media consultant for anything to do with books.</p>
                <p>Stuck with your Instagram hashtags? Unsure where your Twitter is going? Or just need an extra pair of hands to help run everything?</p>
                <p>Having a good social media presence can help sell your book. Not sure where to start? That’s where I come in.

                    Social media tells a story, and I want to help you craft your story on social media.</p>
                <p>I can offer you a range of services to help your overall social media strategy or just help with one social media campaign. Whatever you need, I’m here to help. I grew up online, and I know how to get your voice (and book) heard amongst the chatter of social media.</p>
            </div>
        </div>
    </div>
</div>
 

<!-- About, services and experience boxes -->
<div id="links">
    <div class="container">
        <div class="row">
            <div class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/about" class="anchor">
                        <div class="col-md-10 pb-3 highlight">
                            <h4 class="p-3 text-center">About Me</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img class="icon-box" src="/images/Home/AboutMe.png" alt="">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
    
            </div>
            <div class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/services" class="anchor">
                        <div class="col-md-10 pb-3 highlight">
                            <h4 class="p-3 text-center">Services</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img src="/images/Home/Services.png" alt="" class="icon-box">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div id="bottom-box" class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/experience" class="anchor">
                        <div class="col-md-10 pb-3 highlight">
                            <h4 class="p-3 text-center">Experience</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img class="icon-box" src="/images/Home/Experience.png" alt="">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    <footer id="footer" class="pl-5">
        <p></p>
        <p>Copyright 2020 The Storey Social. All Rights Reserved.</p>
        <p>Design by <a class="footer-anchor" href="https://twitter.com/TjcWebdev" target="_blank">Thomas Corkhill</a></p>
    </footer>
  </div>
 


<%- include ("./partials/footer") %>

