<%- include ("./partials/header") %>


<!-- Cover picture and button -->
<div id="cover">
    <div class="row">
        <div class="col-xs-3 col-md-9"></div>
        <div class="col-xs-6 col-md-3">
            <div class="main-heading">
                <h3>Are you an Author or a Publisher stuck with your social media?</h3>
            </div>
        <div class="col-xs-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 d-flex justify-content-center">
            <a href="#scroll-target"><i class="fas fa-chevron-circle-down"></i></a>
        </div>
        <div class="col-md-5"></div>
    </div>

 </div>

<!-- Profile picture and Welcome -->
<div id="scroll-target" class="size pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img id="profile" src="https://scontent.flhr2-1.fna.fbcdn.net/v/t1.0-9/101056712_10163945009840227_9119019767674437632_n.jpg?_nc_cat=109&_nc_sid=09cbfe&_nc_ohc=T39kKBFsfNwAX_TmwpR&_nc_ht=scontent.flhr2-1.fna&oh=c8f33a364bec7aaad7a7737c69e5bfda&oe=5F20C0F6" alt="">
            </div>
            <div class="col-md-7">
                <h3>Welcome</h3>
                <p>Hi, I’m Christina, a Social media consultant for anything to do with books.</p>
                <p>Stuck with your Instagram hashtags? Unsure where your Twitter is going? Or just need an extra pair of hands to help run everything?</p>
                <p>Having a good social media can help sell your book, not sure where to start? That’s where I come in.

                    Social media tells a story, and I want to help you craft your story on social media.</p>
                <p>I can offer you many things to help your overall social media strategy or just help with one social media campaign. Whatever you need, I’m here to help. I grew up online, and I know how to get your voice (and book) heard amongst the chatter of social media.</p>
            </div>
        </div>
    </div>
</div>
 

<!-- About, services and experience boxes -->
<div id="links">
    <div class="container">
        <div class="row">
            <div class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/about" class="anchor">
                        <div class="col-md-10 pb-5 highlight">
                            <h4 class="p-3 text-center">About Me</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img class="icon-box" src="/images/AboutMe.png" alt="">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
    
            </div>
            <div class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/services" class="anchor">
                        <div class="col-md-10 pb-5 highlight">
                            <h4 class="p-3 text-center">Services</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img src="/images/Services.png" alt="" class="icon-box">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="col-md-4 gap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <a href="/experience" class="anchor">
                        <div class="col-md-10 pb-5 highlight">
                            <h4 class="p-3 text-center">Experience</h4>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <img class="icon-box" src="/images/Experience.png" alt="">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </a>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- footer -->
<div class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-1">
                <img id="storeyLogo" src="https://i.ibb.co/r5gLNQT/The-Storey-Social-Logo.jpg" alt="">
            </div>
            <div class="dol-md-5"></div>
        </div>
    </div>
</div>


<%- include ("./partials/footer") %>

