<%- include ("./partials/header") %>

<div class="fill pb-5">
    <div class="container">
        <h1 class="top-gap">Services</h1>
        <hr>
        <p>For every client, The Storey Social will provide a social media marketing strategy. Once you let me know what your goals are with your social media I will draft up an idea of how you can achieve these goals. How we go about achieving these goals is up to you, I offer three specific packages but can offer consultations where we can personalise what you need from The Storey Social. Please email me at thestoreysocial@hotmail.com for rates.</p>
    </div>
</div>

<div class="container">

    <div class="row service-box">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img class="service-icon" src="/images/instaStrategy.png" alt="">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="line-left col-md-6">
            <h2 class="mt-4 pl-3">The Full Insta Package</h2>
            <h5 class="pl-3">I will take full control of your Instagram</h5>
            <ul class="pb-3">
                <li>Rebrand your profile</li>
                <li>Create exciting captions posting 3 X a week</li>
                <li>Engage in the online community by following and interacting with followers</li>
                <li>Give ideas towards Instagram stories</li>
                <li>Provide a weekly update on the growth of your profile</li>
                <li>Photography and Graphics can be discussed between us</li>
            </ul>
        </div>
    </div>
    <div class="row service-box">
        <div class="line-left col-md-6">
            <h2 class="mt-4 pl-3">The Network</h2>
            <h5 class="pl-3">I will take control of engaging on your Instagram</h5>
            <ul class="pb-3">
                <li>Comment, like and follow your community to increase followers, impressions and reach</li>
                <li>Provide a weekly update on the growth of your profile</li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img src="/images/Network.png" alt="" class="service-icon">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="row service-box">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img src="/images/Copywriter.png" alt="" class="service-icon">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="line-left col-md-6">
            <h2 class="mt-4 pl-3">The Copywriter</h2> 
            <h5 class="pl-3">I will provide copy on a social media platform of your choice</h5>
            <ul class="pb-3">
                <li>Instagram captions and stories (including a hashtag strategy)</li>
                <li>Tweets</li>
                <li>Facebook posts</li>
                <li>Provide a weekly update on the growth of your profile</li>
            </ul>
        </div>
    </div>
</div>

<div class="footer mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-1">
                <img id="storeyLogo" src="https://i.ibb.co/r5gLNQT/The-Storey-Social-Logo.jpg" alt="">
            </div>
            <div class="dol-md-5"></div>
        </div>
    </div>
</div>
    


<%- include ("./partials/footer") %>