<%- include ("./partials/header") %>

<div class="fill pb-5">
    <div class="container">
        <h1 class="top-gap">Services</h1>
        <hr>
        <p>For every service I will provide a social media marketing strategy where we can work together to achieve two specified goals. How we go about achieving these goals is up to you, I offer three specific packages but am happy to offer consultations where we can personalise what you need to achieve your social media goals. I can increase the engagement, create hashtag strategies, increase your followers and lead to direct sales. Please email me at Thestoreysocial@hotmail.com for rates. </p>
    </div>
</div>

<div class="container">

    <div class="row service-box">
        <div class="col-md-6"></div>
        <div class="line-left col-md-6 text-center">
            <h2 class="mt-4">The Full Insta Package</h2>
            <p class="mt-4 px-5">Take control of your Instagram fully. Rebrand your profile and create exciting captions posting 3 X a week. Engage in the online community by following and interacting with followers.</p>
        </div>
    </div>
    <div class="row service-box">
        <div class="line-right col-md-6 text-center">
            <h2 class="mt-4">The Network</h2>
            <p class="mt-4 px-5">Take control of engaging on your Instagram. Comment, like and follow your community to increase followers, impressions and reach.</p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row service-box">
        <div class="col-md-6"></div>
        <div class="line-left col-md-6 text-center">
            <h2 class="mt-4">The Copywriter</h2>
            <p class="mt-4 px-5">Provide copy on any social media platforms. From Instagram captions and stories to Tweets and Facebook posts I can provide the copy.</p>
        </div>
    </div>
</div>


    


<%- include ("./partials/footer") %>