html {
    scroll-behavior: smooth;
}
body {
    background-color: white !important;
    font-family: 'Playfair Display', serif !important;
}
#brand {
    padding-top: 150px;
    color: white;
}
#scroll-target {
    padding-top: 125px;
}
.fa-sort-down {
    font-size: 70px;
    color: #47796c;
}
#contact {
    height: 250px; 
    background-color: #f1f2f2 !important;
}
.size {
    background-color: #f1f2f2 !important;
}
.space {
    height: 205px
}

.main-heading {
    padding-top: 155px;
    margin-left: 80px;
}
.highlight {
    box-shadow: 5px 5px 5px 5px #efefef;
    transition: all .2s ease-in-out;
    border-radius: 1%;
}
.highlight:hover {
    transform: scale(1.1);
}
#learn-more {
    padding-top: 400px;
} 
#cover {
    background-image: url('../images/Home/ssBackground.png');
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 970px;
}
#profile {
    border-radius: 50%;
    width: 90%;
}
.icon-box {
    width: 100%;
}
#links {
    height: 500px
}
.gap {
    padding-top: 110px;
}
.anchor {
    color: black;
}
.anchor:hover {
    color: black;
    text-decoration: none !important; 
}
.fa-chevron-circle-down {
    font-size: 80px;
    color: #47796c;
    transition: all .2s ease-in-out;
}
.fa-chevron-circle-down:hover {
    transform: scale(1.1);
}
.top-gap {
    padding-top: 170px;
}
.black {
    font-weight: 900;
    font-size: 36px;
}
.arrow {
    margin-top: 400px;
}
.title {
    font-weight: 700;
}


@media only screen and (max-width: 767px) {
    .highlight {
        display: inline-flex;
        width: 140px;
        margin: 0;
        padding: 0;
    }
    .icon-box {
        width: 100px;
        height: 100px;
    }
    .anchor {
        width: 270px;
        margin-left: 50px !important;
        padding: 0 !important;
    }
    #footer {
        display: none;
    }
    .gap {
        height: 170px;
    }
    #bottom-box {
        margin-bottom: 130px;
    }
    #profile {
        margin-bottom: 40px;
    }
    .arrow {
        margin-top: 110px;
    }
    .black {
        font-size: 25px;
    }
}