html {
    scroll-behavior: smooth;
}
body {
    background-color: white !important;
    font-family: 'Playfair Display', serif !important;
}
#brand {
  padding-top: 150px;
  color: white;
}
#scroll-target {
    padding-top: 130px;
}
.fa-sort-down {
    font-size: 70px;
    color: #47796c;
}
#contact {
    height: 250px; 
    background-color: #f1f2f2 !important;
}
.size {
    background-color: #f1f2f2 !important;
}
.space {
    height: 205px
}
.highlight {
    transition: all .2s ease-in-out;
}
.footer {
    background-color: #ecd5e6 !important;
}
.highlight:hover {
    background-color: #f1f2f2 !important;
    transform: scale(1.1);
}
.btn-colour-1 {
    color: #fff !important;
    background-color: #47796c !important;
    border-color: #47796c!important;
    letter-spacing: 0.05em !important;
    border-radius: 5% !important;
  }
  
  .btn-colour-1:hover,
  .btn-colour-1:active,
  .btn-colour-1:focus,
  .btn-colour-1.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #5e9788 !important;
    color: #ffffff !important;
    border-color: #5e9788 !important;
  }

#learn-more {
    padding-top: 400px;
}
#cover {
    background-image: url(https://images.unsplash.com/photo-1501075194766-25dad883d9ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1379&q=80);
    background-size: cover;
    width: 100%;
    height: 1000px;
}
#profile {
    border-radius: 50%;
    width: 90%;
}



/* CONTACT ROUTE */
.top-gap {
    padding-top: 170px;
}
.d-block {
    margin: auto;
    width: 450px;
    border: 1px solid #d0d5d8;
    border-radius: 1%;
    padding: 10px;
}
#name {
    height: 50px;
}
#email {
    margin-top: 20px;
    height: 50px;
}

#message {
    margin-top: 20px;
    height: 170px;
}
.btn-custom-contact {
    background-color: #ecd5e6 !important;
    margin-top: 40px;
    height: 50px;
}
.shadow {
    box-shadow: 5px 5px 5px 5px #efefef;
    padding: 40px;
    padding-right: 492px !important;
    width: 500px;
    margin: auto;
}
.other {
    margin-top: 170px;
}









/* services route */
.line-left {
    border-left: solid 2px #47796c;
    background-color: #ecd5e6;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.line-right {
    border-right: solid 2px #47796c;
    background-color: #ecd5e6;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.service-box {
    height: 250px;
    margin-top: 50px;
}
.fill {
    background-color: #efefef;
}
