html {
    scroll-behavior: smooth;
}
body {
    background-color: white !important;
    font-family: 'Playfair Display', serif !important;
}
#brand {
  padding-top: 150px;
  color: white;
}
#scroll-target {
    padding-top: 90px;
}
.fa-sort-down {
    font-size: 70px;
    color: #47796c;
}
#contact {
    height: 250px; 
    background-color: #f1f2f2 !important;
}
.size {
    background-color: #f1f2f2 !important;
}
.space {
    height: 205px
}
.footer {
    background-color: #ecd5e6 !important;
}

.main-heading {
    padding-top: 700px;
}
.highlight {
    box-shadow: 5px 5px 5px 5px #efefef;
    transition: all .2s ease-in-out;
    border-radius: 1%;
}
.highlight:hover {
    transform: scale(1.1);
}
#learn-more {
    padding-top: 400px;
} 
#cover {
    background-image: url('../images/ssBackground.png');
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 960px;
}
#profile {
    border-radius: 50%;
    width: 90%;
}
.icon-box {
    width: 100%;
}
#links {
    height: 500px
}
.gap {
    padding-top: 110px;
}
.anchor {
    color: black;
}
.anchor:hover {
    color: black;
    text-decoration: none !important; 
}
.fa-chevron-circle-down {
    font-size: 80px;
    color: #47796c;
}


/* CONTACT ROUTE */
.top-gap {
    padding-top: 170px;
}
.d-block {
    margin: auto;
    width: 450px;
    border: 1px solid #d0d5d8;
    border-radius: 1%;
    padding: 10px;
}
.btn-custom-contact {
    background-color: #ecd5e6 !important;
    margin-top: 40px;
    height: 50px;
}
.btn-custom-contact:hover {
    background-color: #e8badc !important;
}
.shadow {
    box-shadow: 5px 5px 5px 5px #efefef;
    border: 1px solid rgba(236, 213, 230, 0.3);
    padding: 40px;
    padding-right: 492px !important;
    width: 500px;
    margin: auto;
}
.other {
    margin-top: 170px;
}
.twitter {
    font-size: 50px;
    color: #47796c;
}
.in {
    font-size: 50px;
    color: #ecd5e6 !important;
}

#name {
    height: 50px;
}
#email {
    margin-top: 20px;
    height: 50px;
}
#message {
    margin-top: 20px;
    height: 170px;
}
#safe {
    display: none;
}






/* services route */
.line-left {
    box-shadow: 5px 5px 5px 5px #efefef;
    border: 1px solid rgba(236, 213, 230, 0.5);
}
.service-box {
    margin-top: 45px;
}
.service-icon {
    width: 100%;
    padding-top: 50px;
}








/* about me route */
#headshot {
    width: 100%;
    border-radius: 50%;
}