.navbar-custom {
  background-color: #ecd5e6!important;
  font-family: 'Playfair Display', serif;
}
.social {
  color: white;
  font-size: 22px;
  margin: 0;
}
.home {
  color: #5e9788;
  font-size: 18px;
  margin: auto 2px;
}
.home:hover {
  color: #94d0c0;
}
.heading {
  color: white;
  font-size: 18px;
  margin: auto 2px;
}
.heading:hover {
  color: #5e9788;
}
.fab {
  color: white;
  font-size: 27px;
  margin: auto 5px;
}
.fab:hover {
  color: #5e9788;
}
#storeyLogo {
  height: 95px;
  width: 95px;
}